<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Student Data</title>
</head>
<body>
    <h2>Add Student Data</h2>
    <form action="/add_data" method="POST">
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name"><br>
        <label for="rollno">Roll No:</label><br>
        <input type="text" id="rollno" name="rollno"><br>
        <label for="department">Department:</label><br>
        <input type="text" id="department" name="department"><br>
        <label for="year_of_passing">Year of Passing:</label><br>
        <input type="number" id="year_of_passing" name="year_of_passing"><br>
        <label for="dob">Date of Birth:</label><br>
        <input type="date" id="dob" name="dob"><br>
        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email"><br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
